<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />

    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@(!string.IsNullOrWhiteSpace(ViewBag.Title) ? ViewBag.Title + " -" : "") Shorty .NET</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/bundles/css")

    @RenderSection("head", required: false)
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
@RenderBody()

@Scripts.Render("~/bundles/scripts")
@*Use the Scripts section to define page specific scripts*@
@RenderSection("scripts", required: false)
</body>
</html>